In [1]:
name="Naincy"
for i in name:
    print(i)
    if i=="i":
        print("I am a good girl")

N
a
i
I am a good girl
n
c
y

In [3]:
colour=["red","green","blue","yellow"]
for cl in colour:
    print(cl)
    for c in cl:
        print(c)

red
r
e
d
green
g
r
e
e
n
blue
b
l
u
e
yellow
y
e
l
l
o
w

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [9]:
for i in range(1,5): # range(1,2001) # tp print numbers from 1 to 20000
    print(i)

1
2
3
4

In [13]:
for i in range(1,20,4): # range(start,end,step)
    print(i)

1
5
9
13
17

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(1,11,3))

[1, 4, 7, 10]

In [4]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4