In [8]:
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

7
3
10
2.5
1
25
2

In [10]:
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [14]:
x=True
y=False
print(x or y)
print(x and y)
print(not x)
print(not y)

True
False
False
True

In [15]:
x=2 
y=3
print(x & y)

2

In [16]:
x= "Delhi"
print("D" in x)

True

In [17]:
x=(1,2,3)
print(5 in x)

False